@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

// src/pages/_app.js
import '../styles/globals.css'

function MyApp({ Component, pageProps }) {
  return (
    <>
      {/* Audio that auto-plays and loops */}
      <audio src="Tu Itni Khoobsurat Hai (PenduJatt.Com.Se).mp3" autoPlay loop />
      <Component {...pageProps} />
    </>
  )
}

button{
  cursor: pointer;
}
